 body {
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: url("../images/pexels-dids-1366997.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    position: a;
    left: 400px;
    top: 30;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 200px;
    border-radius: 10px;
    text-shadow: 0 0 15px #030349, 0 0 15px #0000FF;

}

nav a:hover {
    background-color: #e6ffff;
    color: black;
}

a {
    color: rgb(255, 255, 255);
}

#logo {
    position: fixed;
    top: 0;
    right: 10;
    width: 200px;
    height: 100px;
    float: right;
    margin: 10px;
}