    :root {
      --main-padding: 100px;
      --main-color: rgb(0, 131, 143);
      
    }

    body {
      font-family: "Open Sans", sans-serif;
      background-color: rgb(249, 249, 249);
    }

    html {
      scroll-behavior: smooth;
    }

    a {
      text-decoration: none;
      color: black;
    }



    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    * {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }

    /* medium screen  */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }

    /* large screen  */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }


    /* start title  */
    .title {
    background-color:var(--main-color);
      padding-bottom: 40px;
    }
    .title .container .info {
      padding-top: 50px;
      padding-bottom: 40px;
      margin-left: 150px;
    }

    .title .container .info h3 {
      letter-spacing: 1.3px;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 5px;
      color: white;
      font-family: "Libre Baskerville", serif;
      
    }

    .title .projects{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    }
    .title .projects .card{
    position: relative;
    width: 320px;
    height: 420px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
    }
    .title .projects .card .box{
    position: absolute;
    top: 20px;
    Left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    }
    .title .projects .card:hover .box{
        transform: translateY(-50px);
        box-shadow: 0 10px 40px rgba(0,0,0,0.2);
        background-color: #0095A8;
        color:white;
    }
    .title .projects .card .box .det{
        padding: 20px;
        text-align: center;
    }
    .card .box .det ul li{
        list-style: none;
        transition: 0.5s;
        z-index: 1;     
      font-family: "Libre Baskerville", serif;
    }
    .card .box .det h3{
        transition: 0.5s;
        z-index: 1;
        pointer-events: none;
        font-weight: bold;
        font-family: "Libre Baskerville", serif;
    }
    .card .box:hover .det h3,
    .card .box:hover .det li
    {
        color: #fff;
    }
    .card .box .det a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background:  #0095A8;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.5s;
    }
    .card .box .det a:hover{
    background:#212121;
    transition: all ease-in-out 0.4s;
    }
    .card .box .det a:hover{
      background:#434343
    }
    .title .container .box .det img {
      max-width: 100%;
      width: 290px;
      height: 200px;
    }
    .title .container input[type="submit"]{
      transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      margin-left: 12px;
      padding: 10px 19px;
      font-size: 19px;
      text-transform: capitalize;
      border-radius: 5px;
      border: 1px solid;
      font-family: "Libre Baskerville", serif;
      cursor: pointer;
      font-weight: bold;
    }
    .title .container input[type="submit"]:hover{
      background-color: rgb(18 200 216 / 54%);
      color:white;
      border: 1px solid white;
    }


/* end title  */



